/*Start Globe*/
:root{
    --background-gray-light:#eee;
    --background-gray-dark:#333;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Tahoma;
    background-color: var(--background-gray-dark);
}
.section{
    padding: 40px 0;
}
/*End Globe*/
/*Start Moving To right Text on hover*/
.link{
    display: block;
    position: relative;
    text-decoration: none;
    color: #8bc34a;
    border: 2px solid #8bc34a;
    width: 160px;
    height: 40px;
    margin: 20px auto;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}
.link::before{
    content: attr(data-text);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    color: white;
    transition: 0.3s;
}
.link span{
    display: block;
    transition: 0.3s;
}
.link:hover::before{
    left: 0;
}
.link:hover span{
    transform: translateX(100%);
}
/*End Moving To right Text on hover*/
/*Start fill Element by box-shadow and Text fill*/
.product{
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
    padding: 20px;
    background-color: white;
    overflow: hidden;
}
.product .number{
    width: 60px;
    height: 60px;
    background-color: #009688;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin: 20px auto;
    transition: 0.6s;
}
.product h3{
    width: fit-content;
    margin: 20px auto;
    font-size: 30px;
    transition: 0.6s;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px var(--background-gray-dark);
    position: relative;
}
.product h3::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-fill-color: red;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.6s;
}
.product:hover h3::before{
    width: 70%;
}
.product p{
    line-height: 1.8;
    font-size: 18px;
    transition: 0.6s;
}
.product:hover .number{
    box-shadow: 0 0 0 500px #009688;
    color: white;
}
.product:hover p{
    color: white;
}
/*End fill Element by box-shadow and Text fill*/
/*Start Typewriter Effects with pure css*/
.type-writer{
    width: 436px;
    font-size: 18px;
    margin: 30px auto;
    white-space: nowrap;
    border-right: 2px solid white;
    overflow: hidden;
    animation: control-width steps(30) 4s, blink 0.5s infinite;
}
@keyframes control-width {
    from{
        width: 0;
    }
    to{
        width: 436px;
    }
}
@keyframes blink {
    from{
        border-right-color: white;
    }
    to{
        border-right-color: transparent;
    }
}
/*End Typewriter Effects with pure css*/
/*Start Tooltip in all position*/
.tooltip button{
    display: block;
    background-color: var(--background-gray-light);
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    position: relative;
    margin: 20px auto;
    cursor: pointer;
    overflow: hidden;
}
.tooltip button span{
    min-width: 220px;
    position: absolute;
    left: 50%;
    background-color: var(--background-gray-dark);
    bottom: -60px;
    padding: 10px 15px;
    font-size: 18px;
    transform: translateX(-50%);
    opacity: 0;
    transition: 2s;
    cursor: default;
}
.tooltip button span::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--background-gray-dark);
}
.tooltip button:hover{
    overflow: visible;
}
.tooltip button:hover span{
    opacity: 1;
}
button[data-position='bottom'] span{
    bottom: auto;
    top: -60px;
}
button[data-position='bottom'] span::before{
    bottom: -20px;
    top: auto;
    border-color:var(--background-gray-dark) transparent transparent ;
}
/*End Tooltip in all position*/
/*Start Ribbon without image*/
.ribbon{
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
    padding: 20px;
    background-color: #8bc34a;
}
.ribbon h2{
    width: calc(100% + 100px);
    margin: 0 0 20px;
    padding: 15px;
    background-color: #009688;
    position: relative;
    left: -50px;
}
.ribbon h2::before,
.ribbon h2::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px;
}
.ribbon h2::before{
    border-color: #007e71 #007e71 transparent transparent;
    bottom: -30px;
    left: 0;
}
.ribbon h2::after{
    border-color: #007e71 transparent transparent #007e71;
    bottom: -30px;
    right: 0;
}
.ribbon p{
    line-height: 1.7;
    font-size: 20px;
}
/*End Ribbon without image*/
/*Start Customize Radio input*/
form{
    width: 400px;
    margin: 20px auto;
    background-color: var(--background-gray-light);
    padding: 10px;
}
form>div{
    padding: 5px 0;
    margin: 10px 0;
}
form>div input[type='radio']{
    appearance: none;
    -webkit-appearance: none;
}
form>div label{
    position: relative;
    padding: 5px 30px;
}
form>div input[type='radio'] +label::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
}
form>div input[type='radio'] +label::after{
    content: '';
    width: 12px;
    height: 12px;
    position:absolute;
    left: 8px;
    top: 8px;
    background-color: #007e71;
    opacity: 0;
    transition: 0.8s;
}
form>div:hover input[type='radio'] +label::after{
    opacity: 0.3;
}
form>div input[type='radio']:checked +label::after{
    opacity: 1;
}
form>div input[type='radio']:checked+label{
    color: #007e71;
}
/*End Customize Radio input*/
/*Start Generate Serial Number with js*/
.serial-generate{
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-gray-dark);
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
}
.serial-generate .serial{
    background-color: var(--background-gray-light);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
}
.serial-generate .generate{
    width: 200px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #007e71;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
/*End Generate Serial Number with js*/
/*Start Count input Character and Calc percentage*/
form .count-char{
    width: 300px;
    margin: 20 auto;
}
form .count-char input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 15px;
    margin: 0 auto;
}
form .count-char input:focus{
    outline: none;
}
form .count-char .progress{
    display: block;
    position: relative;
    height: 2px;
    width: 0;
    background-color: #8bc34a;
    top: -2px;
    transition: 0.2s;
}
form .count-char .count{
    display: block;
    text-align: right;
    font-size: 12px;
    padding: 5px;
}
form .count-char .count.zero{
    color: red;
    font-weight: bold;
    font-size: 16px;
}
/*End Count input Character and Calc percentage*/
/* Start Create TABS */
.tabs{
    background-color: var(--background-gray-light);
    margin: 20px auto;
}
.tabs ul{
    display: flex;
    font-size: 30px;
    justify-content: center;
    list-style: none;
}
.tabs ul li{
    border-right: 4px solid white;
    margin-right: 5px;
    background-color: #ddd;
    transition: 0.6s;
    cursor: pointer;
}
.tabs ul li.active,
.tabs ul li:hover{
    background-color: var(--background-gray-dark);
    color: white;
}
.tabs .content{
    padding: 20px 10px;
    text-align: center;
    background-color: var(--background-gray-dark);
}
.tabs .content>div:not(:first-of-type){
    display: none;
}
/* End Create TABS */
/* Start Create OUR Works */
.works ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 15px;
}
.works ul li{
    padding: 15px;
    margin-right: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
}
.works ul li.active{
    background-color: #009688;
}
.works .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* End Create OUR Works */